div.table-responsive {
  border: none !important;

  .table {
    border: 1px solid rgba(0, 0, 0, .1) !important;
    padding-bottom: 90px;
  }

  #data-table_paginate {
    position: relative;
    top: -70px;
    left: -45%;
  }

  #data-table_info {
    position: relative;
    top: -62px;
    left: 14px;
  }
  [name=data-table_length] {
    padding: 5px !important;
  }

}