.donate{
    .container>.row:nth-of-type(2){
        padding: 0px 0 0px 0;
        .col-xs-12{
        width: 60%;
        margin: 0 auto; 
        color: rgba(7,7,7,.5);
        }
    }
    .container>.row:nth-of-type(3){
        padding: 70px 0 20px 0;
        .wrap{
            
            
              box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
              transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            &:hover {
              box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            
            
            padding-bottom: 20px;
            margin-bottom: 30px;
            h4{
                padding: 5px;
                font-weight: bold;
                margin-top: 20px;
            }
            p{
                padding: 10px 20px;
                color: rgba(7,7,7,.5);
            }

        }
    }
    @media (max-width: 992px) {
        .highlight{
            font-size: 20px;
        }
    }
  @media (max-width: 768px) {
      .highlight{
          font-size: 2rem;
      }
      .container>.row:nth-of-type(2){
            .col-xs-12{
                width: 90%;
            }
      }
  }
}