//region Adds overlay to the selected Element
@mixin overlay($color : rgba(0,0,0,.9)) {
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $color;
    position: absolute;
    top: 0;
    left: 0;
  }
}

//endregion

@mixin primary-color() {
  $color: red;
}